<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pwndroid_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pwndroid_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team_26_project"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".sql"
            android:exported="false" />
        <activity
            android:name=".deep_link"
            android:exported="false" />
        <activity
            android:name=".InsecureStorageExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".intent_redirection_explanation"
            android:exported="false" />
        <activity
            android:name=".intent_explanation"
            android:exported="false" />
        <activity
            android:name=".DataStorage"
            android:exported="false" />
        <activity
            android:name=".InsecureWebView"
            android:exported="true" />
        <activity
            android:name=".InsufficientCryptography"
            android:exported="false" />
        <activity
            android:name=".deepLink"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".private_activity"
            android:exported="false" />
        <activity
            android:name=".redirect_activity"
            android:exported="true" />
        <activity
            android:name=".Admin"
            android:exported="true" />
        <activity
            android:name=".IntentLab"
            android:exported="false" />
        <activity
            android:name=".intro_to_android_security"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LabsActivity"
            android:exported="false" />
        <activity
            android:name=".SQL_injection"
            android:exported="false" />
    </application>

</manifest>